/* GENERAL */

* {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #000000;
    text-rendering: optimizelegibility;
}

html {
    scroll-behavior: smooth;
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* PAGES */

.home {
    background: url('link/backv2-resize.gif') no-repeat center center fixed; /* Background image */
    background-size: cover; /* Make the background cover the entire page */
    color: #000; /* Adjust text color as needed */
    margin: 0;
    padding: 0;
}

.error {
    background: url('link/pictures/background.png') no-repeat center center fixed; /* Background image */
    background-size: cover; /* Make the background cover the entire page */
    color: #000; /* Adjust text color as needed */
    margin: 0;
    padding: 0;
}

.news {
    background-color: #ffffff;
    color: #000; /* Adjust text color as needed */
    margin: 0;
    padding: 0;
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* MAIN */

main {
    width: 1520px;
    margin: auto;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* FOOTER */

footer {
    width: 1520px;
    margin: auto;
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* HEADER */

header {
    z-index: 999;
    background-color: white;
    display: flex;
    justify-content: center; /* Centers the nav horizontally */
    align-items: center;
    height: 80px;
    position: sticky;
    top: 0%;
    background-attachment: scroll;
}

hr {
    position: fixed; /* Fix the HR to a specific position */
    top: 80px; /* Set the HR directly below the header (70px matches the header height) */
    left: 0;
    width: 100%; /* Make sure it spans the viewport width */
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0; /* Remove default margins */
    z-index: 998; /* Keep it just below the header (if overlapping is a concern) */
}






/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* NAVIGATION */

.navigation {
    background-color: #ffffff;
    float: none;
    margin: auto
}

.hot-bar {
    display: flex;
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent background */
    padding-left: 0;
    column-gap: 10px;
}

li {
    transition: all 0.5s;
}





/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* BUTTONS WITH LINKS */

.headbutton a {
    border: 1px solid #808080;
    border-radius: 100px;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    padding: 10px 20px;
}

.headbutton a:hover {
    border: 1px solid #252525;
    background-color: #252525;
    color: #ffffff;
    border-radius: 100px;
    padding: 10px 20px;
}



/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* GLASS FRAME */

.frame {
    margin: auto;
    margin-top: 60px;
    margin-bottom: 30px;
    width: auto;
    height: 891.04px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: inset 8px 0.93px 7.46px 0px rgba(255, 255, 255, 0.35);
    box-shadow: inset -0.93px 0.93px 0.93px -1.86px rgba(255, 255, 255,);
    
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 22.37px 27.97px 0px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(182.71px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 40.85px;
}






/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* TEXT STYLE */

h1 {
    font-family: "Inter", serif;
    text-align: center;
    color: #ffffff;
    margin: auto;
    font-size: 200.33px;
    letter-spacing: -4%;
}

h3 {
    color: #ffffff;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 500;
    letter-spacing: 0.47px;
    font-size: 33.56px;
}

.text-p {
    color: rgba(255, 255, 255, 0.77) !important;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 200;
    font-size: 19.15px;
}



/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* TEXT STYLE IN CONTENT */

.content {
    margin: auto;
    width: 1360px;
}

#logo-container {
    position: absolute;
    top: 10px;
    left: -150px; /* Hidden off-screen initially */
    width: 60px;
    transition: left 0.5s ease-in-out; /* Smooth sliding */
    z-index: 1000;
}

#logo-container.show {
    left: 0px; /* Slide in when mouse is at top-left */
}

#logo {
    width: 100%; /* Ensures the image fits within the container */
}





.frame-service {
    margin: auto;
    margin-top: 60px;
    margin-bottom: 30px;
    padding-bottom: 40px;
    width: auto;
    height: auto;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: inset 8px 0.93px 7.46px 0px rgba(255, 255, 255, 0.35);
    box-shadow: inset -0.93px 0.93px 0.93px -1.86px rgba(255, 255, 255,);
    
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 22.37px 27.97px 0px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(182.71px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 40.85px;
}

.main-content-menu {
    margin-left: 52px;
    margin-top: 71px;
}

.menu-front {
    display: flex;
    height: auto;
    width: auto;
    gap: 27.21px;
    align-items: flex-start;
}

.wrapper-container {
    background-color: #F5F5F5;
    width: 454.86px;
    height: 749.67px;
    border-radius: 33.05px;
    align-content: center;
}

.content-container-menu {
    margin: auto;
    width: 400.43px;
    height: 691.35px;
}

.over-block {
    display: flex;
    gap: 16px;
}

.over-block-name {
    height: 58.32px;
}

.profile-img {
    background-color: #000;
    width: auto;
    height: auto;
    border-radius: 100%;
    object-fit: fill;
}

.over-description {
    height: 23px;
    margin: 0;
    color: #C8C8C8;
    font-size: 18.66px;
    letter-spacing: -2%;
}

.over-name-description {
    height: 23px;
    margin-top: 15%;
    color: #000000;
    font-size: 18.66px;
    letter-spacing: -2%;
}


.under-block {
    margin-top: 27.21px;
    gap: 38.88px;
}

.main-img {
    width: 400.43px;
    height: 400.43px;
    border-radius: 27.21px;
}

.main-content {
    gap: 25.27px;
}

.caption {
    font-weight: 400;
    color: #000;
    font-size: 34.16px;
    letter-spacing: -2%;
}

.under-description {
    color: #616161;
    font-size: 18.66px;
    letter-spacing: -2%;
}








/* MENU UNDER */

.menu-under {
    margin-top: 27px;
    width: auto;
    height: auto;
    gap: 5px;
    display: flex;
    align-items: flex-start;
}

.wrapper-container-under {
    position: relative;
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent),
    url(link/pictures/pain/sk8.jpg);
    background-size: contain;
    background-position: center;
    background-color: #000;
    border-radius: 26.67px;
    width: 350.75px;
    height: 350.75px;
    align-content: center;
}

.content-container-menu-under{
    margin: auto;
    width: 300px;
}

.over-block-text {
    width: 187px;
    gap: 4.27px;
}

.over-block-text-p {
    margin-bottom: 8px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 14.9px;
    letter-spacing: 0.21px;
}

.over-block-text-h2 {
    margin: 0;
    color: #ffffff;
    font-size: 25.61px;
    font-weight: 400;
    line-height: 29.9px;
}

.under-block-description {
    margin-top: 170px;
    width: fill;
}

.under-block-description-h3 {
    margin-top: 10px;
    margin-bottom: 2px;
    color: #ffffff;
    font-size: 21.34px;
    font-weight: 400;
    line-height: 21.3px;
}

.under-block-description-p {
    margin-top: 0;
    color: #ccc;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.38px;
    line-height: 14.9px;
}

.title-service {
    margin-top: 40px;
    color: #ffffff;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 500;
    font-size: 100px;
    letter-spacing: -2%;
    
}



.error main {
    width: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}


.web-error-container {
    margin: auto;
    width: 47.65625vw;
    height: 47.65625vw;
}

.web-error-img {
    margin: auto;
    width: 47.65625vw;
    height: 47.65625vw;
}






/* NEWS PAGE STYLE */

.news{
    height: 100%;
}

.content-container {
    margin: auto;
    margin-top: 95px;
    width: 1696px;
}

.first-item {
    width: 1696px;
    height: 1178px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 40.85px;
}

.first-item-container {
    margin-top: 109px;
    margin-left: 38px;
    width: 1579.93px;
    height: 960px;
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    gap: 55px; /* Adds space between the image and text */
}

.first-item-img {
    width: 955.93px;
    height: 960px;
    object-fit: cover;
}

.first-item-title {
    font-weight: 400;
    font-size: 59.11px;
    width: 569px;
    height: 360px;
}







.item-menu{
    margin-top: 101px;
    height: auto;
}

.top-menu{
    height: 220px;
}

.top-left-side {
    background-image: url(https://i.pinimg.com/736x/af/ac/77/afac77bfa2e8279514361473e63773dc.jpg);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 40.85px;
    width: 798px;
    height: 220px;
    float: left;
}

.top-left-side-title {
    color: #ffffff;
    margin-top: 10%;
    text-align: center;
    font-size: 33.35px;
}






.top-right-side{
    width: 839px;
    float: right;
}

.top-right-first-item{
    width: 413px;
    height: 220px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 40.85px;
    float: left;
}

.right-first-item-container{
    margin-top: 10px;
    margin-left: 18px;
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    gap: 15px;
}

.right-first-item-img{
    width: 125px;
    height: 125px;
    object-fit: cover;
}

.right-first-item-title{
    width: 222px;
    height: 135px;
    font-size: 22.11px;
}






.top-right-second-item{
    width: 406px;
    height: 220px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 40.85px;
    float: right;
}

.right-second-item-container{
    margin-top: 10px;
    margin-left: 18px;
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    gap: 16px;
}

.right-second-item-img{
    width: 125px;
    height: 125px;
    object-fit: cover;
}

.right-second-item-title{
    width: 222px;
    height: 135px;
    font-size: 22.11px;
}







.bottom-menu{
    margin-top: 19px;
    margin-bottom: 19px;
    width: auto;
    height: 486px;
}

.bottom-left-side{
    width: 798px;
    height: 486px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 40.85px;
    float: left;
}

.bottom-left-item-container{
    margin-top: 36px;
    margin-left: 38px;
    width: 710.29px;
    height: 404px;
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    gap: 26px;
}

.bottom-left-item-img{
    width: 404px;
    height: 404px;
    object-fit: cover;
}

.bottom-left-item-title{
    width: 282px;
    height: 240px;
    font-size: 33.35px;
}






.bottom-right-side{
    width: 839px;
    height: 486px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 40.85px;
    float: right;
}

.bottom-right-item-container{
    margin-top: 36px;
    margin-left: 36px;
    width: 767px;
    height: 404px;
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    gap: 36px;
}

.bottom-right-item-img{
    width: 404px;
    height: 404px;
    object-fit: cover;
}

.bottom-right-item-title{
    width: 282px;
    height: 240px;
    font-size: 33.35px;
}














/* PARTNERSHIP */

.partnership {
    width: 1418px;
    margin: auto;
    margin-top: 71px;
}

.title-container {
    font-size: 40px;
    color: #ffffff;
}

.partner-carousel {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth; /* Enables smooth scrolling when using JavaScript */
    transition: ease-in-out; /* Smooth transition for transform property */
    position: relative; /* Positioning relative for child elements */
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-snap-type: x mandatory;
    cursor: grab;
}

.partner-carousel::-webkit-scrollbar {
    display: none;
}

.partner-carousel:active {
    cursor: grabbing; /* Change cursor when dragging */
    transition: 0.2s ease-in-out;
    transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out;
    opacity: 1;      /* Visible by default */
}

.partner-carousel-list {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row; /* Stack content vertically */
    position: relative;
    scroll-snap-align: center;
    gap: 6px;
    transition: 0.1s ease-in-out;
}

.partner-container {
    -webkit-user-select: none; /* Prevent text selection in WebKit browsers */
    -moz-user-select: none;    /* Prevent text selection in Mozilla browsers */
    -ms-user-select: none;     /* Prevent text selection in IE/Edge browsers */
    user-select: none;         /* Prevent text selection for all browsers */
    height: 200px;
    width: 200px;
    border-radius: 15%;
    background-color: #1D1D1D;
    align-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: 0.s ease-in-out;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out;
    opacity: 1;      /* Visible by default */
}

.partner-container-img {
    display: flex;
    margin: auto;
}






/* TEAM */

.team-section {
    width: auto;
    display: flex;
    justify-content: space-between; 
}

.member-container {
    margin: 0;
    width: fit-content;
    border-radius: 26.73px;
    background-color: #1D1D1D;
}

.container-section-member {
    display: inline-flex;
}

.member-name {
    color: #ffffff;
    font-size: 19.24px;
    margin-bottom: 10px;
}

.member-img-component {
    width: 95.16px;
    height: 95.16px;
    border-radius: 21.38px;
    padding: 16px;
}

.member-img {
    border-radius: 21.38px;
}

.member-navigation {
    display: inline-flex;
    gap: 5px;
}

.member-work-description {
    margin-top: 0%;
    width: 552px;
    color: #ffffff;
    font-size: 14.97px;
    margin-right: 16px;
}

.member-description {
}











.container-content {
    background-color: #171717;
    border-radius: 45px;
    width: 93.82%;
    margin: auto;
}

#special-title-heading {
    width: 93.27%;
    margin: auto;
    padding-top: 25px;
    margin-bottom: 20px;
}

.hide-scrollbar {
    width: 93.27%;
    margin: auto;
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
}

/* Общие стили для FAQ элементов */
.faq_item {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	background-color: #3334;
	/* border: 2px solid #3330; */
	border-radius: 25px;
	height: fit-content;
	padding: 40px 40px 40px 40px;
	transition:all var(--transition-short) ease-in-out;
	overflow: hidden;
	margin-bottom: 10px;
	cursor: pointer;
    transition: 0.2s ease-in-out;
}

.faq_item > .faq_item_top > .faq_item_button {
	width: 34px;
	height: 34px;
    padding: 0%;
	background-color: #474747;
	color: #fff;
    transition: 0.2s ease-in-out;
}

.faq_item > .faq_item_top > .faq_item_button > .faq_item_button_label {
	width: 100%;
	height: 100%;
	background-image: url("../media/images/css/plus-white.svg");
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center center;
	transform: rotate(0deg);
	transform-origin: 50% 50%;
}

.faq_item_active {
    transition: 0.2s ease-in-out;
	background-color: #333;
	/* border: 2px solid #3330; */
}

.faq_item_active:hover {
    transition: 0.2s ease-in-out;
	background-color: #333;
	/* border: 2px solid #393939; */
}

.faq_item_active > .faq_item_top > .faq_item_button {
    transition: 0.2s ease-in-out;
	color: #fff;
}
.faq_item_active .faq_item_body_text{
    font-size: 16px;
    transition: 0.2s ease-in-out;
	max-height: max-content;
	height: max-content;
	transition:all var(--transition-short) ease-in-out;
}
.faq_item_top {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	/* padding-bottom: 20px; */
}

.faq_ls_top_additional-info {
	width: 100%;
	justify-content: center;
}

.faq_item_left_side {
	display: flex;
	flex-wrap: nowrap;
}

.faq_item_title_text_li {
	color: #fff;
	font-size: 26px;
	line-height: 32px;
}

.faq_item_button {
	border-radius: 10px;
	transition: all var(--transition-short);
}

.faq_item_button_label {
	display: flex;
	transition: all var(--transition-short);
}

.faq_item_body_text {
	display: flex;
	flex-wrap: wrap;
	max-height: 0px;
	height: max-content;
	overflow: hidden;
	transition:all var(--transition-short) ease-in-out;
}

.faq_img_wrapper {

}
	.faq_img_wrapper img {
		background-image: var(--image-fallback);
		border-radius: 17px;
	}

.faq_item_body_text_block {
	display: flex;
	margin-bottom: 16px;
}

.faq_item_body_text_li {
	color: #fff;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	padding-right: 160px;
}

.faq_item_body_text_li > a {
	color: #ffcc6b;
	text-decoration: none;
}

.faq_item_body_text_li > a:hover {
	text-decoration: underline;
}

.faq_item_body_text_li_space {
	height: 16px;
}

.faq_item_body_text_label {
	display: flex;
	align-items: center;
	position: relative;
	width: 24px;
	height: 24px;
	flex-shrink: 0;
	background-color: #ffcc6b;
	border-radius: 50%;
	margin-right: 16px;
	position: relative;
	top: -1px;
}

.faq_item_body_text_label_li {
	font-size: 14px;
	font-weight: 700;
	color: #000;
	line-height: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1px;
}

.faq_item:hover {
	background-color: #2f2f2f;
	/* border: 2px solid #2f2f2f00; */
}

/* Стиль для заголовка и текста */
.faq_item_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq_item_left_side {
    font-size: 16px;
    font-weight: bold;
}

.faq_item_button {
    transition: transform 0.3s ease-in-out, background-color 0.3s;
    padding: 8px 15px;
    border-radius: 50%;
    background-color: transparent;  /* Кнопка с белым фоном */
}

.faq_item_button_label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-icon {
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
    color: white; /* Белый цвет */
}

.faq_item_title_text_li {
    color: #ffffff;
}

/* Анимация появления текста */
.faq_item_body_text {
    color: #ffffff;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease; /* Плавный эффект */
    padding-top: 10px;
    font-size: 14px;
    line-height: 1.5;
}

/* Когда элемент активен, текст становится видимым */
.faq_item_active .faq_item_body_text {
    transition: 0.2s ease-in-out;
    max-height: 500px;  /* Ограничение по высоте для анимации */
    opacity: 1;
}

/* Анимация на кнопку при активном элементе */
.faq_item_active .faq_item_button {
    transition: 0.2s ease-in-out;
    background-color: #fff; /* Белый фон для кнопки */
}

.faq_item_active .button-icon {
    transition: 0.2s ease-in-out;
    color: #333; /* Черный цвет знака */
}




/* FOOTER */

.footer_deck {
    padding-top: 50px;
    padding-bottom: 30px;
    width: 93.27%;
    margin: auto;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.footer_left_side {
	display: flex;
	flex-wrap: wrap;
	/* min-height: 75px; */
	gap: 16px;
}

.footer_ls_str_1 {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

.footer_ls_str_1_text {
	display: flex;
	align-items: center;
	margin-left: 10px;
	margin-right: 10px;
}

/* 18+ */
.footer_ls_str_1_text:has(.footer_ls_str_1_text_li_adult) {
	margin: 0;
}

.footer_ls_str_1_text:first-child {
	margin-left: 0px;
}

.footer_ls_str_1_text:last-child {
	margin-right: 0px;
}

.footer_ls_str_1_text_li {
    color: white;
	font-size: 14px;
	text-align: center;
	line-height: 16px;
	/* margin-bottom: 12px; */
}

.footer_ls_str_1_text_li > a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: inherit;
	line-height: 20px;
}

.footer_ls_str_1_text_li > a:hover {
	text-decoration: underline;
}

.footer_ls_str_1_text_li > a img {
	width: 16px;
	height: 16px;
	margin-left: 6px;
	position: relative;
	top: -1px;
}

.footer_ls_str_1_text_li_adult {
	box-sizing: border-box;
	width: 48px;
	height: 48px;
	text-align: center;
	font-size: 20px;
	line-height: 48px;
	font-weight: 500;
	color: #282828;
	border: 2px solid #282828;
	border-radius: 15px;
	position: relative;
}

::-webkit-focus-ring-color {
	outline: 2px solid #282828;
}

.footer_ls_str_2 {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

.footer_ls_str_2_text {
	display: flex;
	align-items: center;
	margin-left: 10px;
	margin-right: 10px;
}

.footer_ls_str_2_text:first-child {
	margin-left: 0px;
}

.footer_ls_str_2_text:last-child {
	margin-right: 0px;
}

.footer_ls_str_2_text_li {
	font-size: 14px;
	color: #808080;
}

.footer_right_side {
	display: flex;
	align-items: center;
	gap: 12px;
}
	.footer_rs_soc_buttons {

	}



















/* SCREEN CHANGES */

@media screen and (max-width: 1560px) {
    main {
        overflow-x: hidden;
        width: 1300px;
    }

    footer {
        overflow-x: hidden;
        width: 1300px;
    }

    .frame-service {
        padding-bottom: 2%;
    }
    
    .content {
        text-align: center;
    }
    
    .main-content-menu {
        width: 1243px;
        margin: auto;
        margin-top: 60px;
    }
    
    .menu-front {
        gap: 20.21px;
    }
    
    .wrapper-container {
        width: 400.86px;
        height: 700.67px;
        border-radius: 27.05px;
    }
    
    .content-container-menu {
        margin: auto;
        width: 360.43px;
        height: 651.35px;
    }
    
    .over-block {
        height: 45px;
        gap: 13px;
    }
    
    .profile-img {
        width: auto;
        height: auto;
    }
    
    .over-block-name {
        height: auto;
    }
    
    .over-description {
        height: 20px;
        font-size: 16px;
    }
    
    .over-name-description {
        height: 20px;
        margin-top: 10%;
        font-size: 16px;
    }
    
    .main-img {
        width: auto;
        height: 360px;
        border-radius: 24px;
    }
    
    .content-container-menu-under{
        width: 260px;
    }
    
    
    
    .web-error-container {
        margin-top: 40px;
    }




    .partnership {
        width: 1243px;
        margin-top: 40px;
    }

    .title-container {
        font-size: 30px;
    }

    .member-container {
        border-radius: 26.73px;
    }

    .member-name {
        font-size: 19px;
        margin-bottom: 10px;
    }
    
    .member-img-component {
        width: 95.16px;
        height: 95.16px;
        border-radius: 21.38px;
        padding: 16px;
    }
    
    .member-img {
        border-radius: 21.38px;
    }
    
    .member-navigation {
        gap: 5px;
    }
    
    .member-work-description {
        margin-top: 0%;
        width: 470px;
        font-size: 14px;
        margin-right: 16px;
    }
    
    .member-description {
    }

    .button-icon {
        margin-top: -2px;
        margin-left: -1px;
    }
}

@media screen and (max-width: 1440px) {
    main {
        width: 1300px;
        overflow-x: hidden;
    }
    
    .main-content-menu {
        width: 1243px;
        margin: auto;
        margin-top: 60px;
    }
    
    footer {
        width: 1300px;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 1400px) {
    main {
        width: 1300px;
    }
    
    .web-error-container {
        margin-top: 50px;
    }

    footer {
        width: 1300px;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 1320px) {
    main {
        width: 1100px;
    }

    footer {
        width: 1100px;
    }
    
    .content {
        width: auto;
        text-align: center;
    }
    
    .main-content-menu {
        width: 1050px;
        margin: auto;
        margin-top: 60px;
    }
    
    .menu-front {
        gap: 12px;
    }
    
    .wrapper-container {
        width: 360.86px;
        height: 570.67px;
        border-radius: 27.05px;
    }
    
    .content-container-menu {
        margin: auto;
        width: 310.43px;
        height: auto;
    }
    
    .over-block {
        height: 35px;
        gap: 8px;
    }
    
    .profile-img {
        width: auto;
        height: auto;
    }
    
    .over-block-name {
        height: auto;
    }
    
    .over-description {
        height: 20px;
        font-size: 14px;
    }
    
    .over-name-description {
        height: 10px;
        margin-top: 2%;
        font-size: 14px;
    }
    
    .under-block {
        margin-top: 15px;
    }
    
    .main-img {
        width: auto;
        height: 312px;
        border-radius: 24px;
    }
    
    
    .wrapper-container-under {
        width: 258.75px;
        height: 258.75px;
    }
    
    .content-container-menu-under{
        width: 220px;
    }
    
    .under-block-description {
        margin-top: 110px;
    }
    
    .caption {
        font-size: 28px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .over-block-text-h2 {
        font-size: 20px;
    }
    
    .over-block-text-p {
        margin-top: 10px;
        margin-bottom: 1px;
    }
    
    .under-block-description-h3 {
        font-size: 16px;
    }
    
    .under-description {
        font-size: 16.66px;
        margin-bottom: 0;
    }
    
    
    
    
    .web-error-container {
        width: 800px;
        height: 800px;
    }
    
    .web-error-img {
        width: 800px;
        height: 800px;
    }




    .partnership {
        width: 1050px;
        margin-top: 40px;
    }

    .partner-container {
        height: 160px;
        width: 160px;
    }

    .partner-container-img {
        width: 70%;
        height: 70%;
    }

    .title-container {
        font-size: 30px;
    }

    .team-section {
        display: contents;
    }

    #special-member-container {
        margin-top: 10px;
    }

    .member-container {
        border-radius: 26.73px;
    }

    .member-name {
        font-size: 19px;
        margin-bottom: 10px;
    }
    
    .member-img-component {
        width: 95.16px;
        height: 95.16px;
        border-radius: 21.38px;
        padding: 16px;
    }
    
    .member-img {
        border-radius: 21.38px;
    }
    
    .member-navigation {
        gap: 5px;
    }
    
    .member-work-description {
        margin-top: 0%;
        width: auto;
        font-size: 18px;
        margin-right: 16px;
    }



    .button-icon {
        margin-top: -2px;
        margin-left: 0;
    }
}

@media screen and (max-width: 1120px) {
    main {
        width: 900px;
    }

    footer {
        width: 900px; 
    }
    
    #logo-container {
        position: absolute;
        top: 10px;
        left: 0px; /* Hidden off-screen initially */
        width: 60px;
        transition: left 0.5s ease-in-out; /* Smooth sliding */
        z-index: 1000;
    }
    
    #logo {
        width: 100%; /* Ensures the image fits within the container */
    }
    
    h1 {
        font-size: 100px;
    }
    
    .title-service {
        font-size: 70px;
    }
    
    .frame {
        height: 600px;
    }
    
    .main-content-menu {
        width: 850px;
        margin: auto;
        margin-top: 60px;
    }
    
    .menu-front {
        gap: 8px;
    }
    
    .wrapper-container {
        width: 278px;
        height: 456px;
        border-radius: 22.05px;
    }
    
    .content-container-menu {
        margin: auto;
        width: 260px;
        height: auto;
    }
    
    .over-block {
        height: 28px;
        gap: 8px;
    }
    
    .profile-img {
        width: auto;
        height: auto;
    }
    
    .over-block-name {
        height: auto;
    }
    
    .over-description {
        height: 15px;
        font-size: 10px;
    }
    
    .over-name-description {
        height: 10px;
        margin-top: 2%;
        font-size: 10px;
    }
    
    .under-block {
        margin-top: 12px;
    }
    
    .main-img {
        border-radius: 5px;
        width: auto;
        height: 260px;
        border-radius: 24px;
    }
    
    .caption {
        font-size: 22px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .under-description {
        font-size: 10px;
    }
    
    .menu-under {
        gap: 3.33px;
    }
    
    .wrapper-container-under {
        width: 210px;
        height: 210px;
    }
    
    .content-container-menu-under{
        width: 180px;
        height: 180px;
    }
    
    .under-block-description {
        margin-top: 110px;
    }
    
    .caption {
        font-size: 24px;
        margin-top: 15px;
        margin-bottom: 8px;
    }
    
    .over-block-text-h2 {
        font-size: 14px;
        line-height: normal;
    }
    
    .over-block-text-p {
        margin-top: 10px;
        font-size: 12px;
        margin-bottom: 1px;
    }
    
    .under-block-description-h3 {
        line-height: normal;
        font-size: 10px;
    }
    
    .under-description {
        margin-top: 4px;
        font-size: 15px;
        margin-bottom: 0;
    }
    
    .under-block-description-p {
        font-size: 10px;
    }
    
    
    



    .partnership {
        width: 850px;
        margin-top: 30px;
    }

    .partner-container {
        height: 120px;
        width: 120px;
    }

    .partner-container-img {
        width: 70%;
        height: 70%;
    }

    .title-container {
        font-size: 30px;
    }

    .team-section {
        display: contents;
    }

    #special-member-container {
        margin-top: 10px;
    }

    .member-container {
        border-radius: 26.73px;
    }

    .member-name {
        font-size: 19px;
        margin-bottom: 10px;
    }
    
    .member-img-component {
        width: 95.16px;
        height: 95.16px;
        border-radius: 21.38px;
        padding: 16px;
    }
    
    .member-img {
        border-radius: 21.38px;
    }
    
    .member-navigation {
        gap: 5px;
    }
    
    .member-work-description {
        margin-top: 0%;
        width: auto;
        font-size: 17px;
        margin-right: 16px;
    }


    .button-icon {
        margin-top: 0;
        margin-left: -0.5px;
    }
}

@media screen and (max-width: 920px) {
    main {
        width: 700px;
    }

    footer {
        width: 700px;
    }
    
    .frame {
        height: 600px;
    }
    
    .main-content-menu {
        width: 658px;
        margin: auto;
        margin-top: 60px;
    }
    .container-carousel {
        display: flex; /* Horizontal layout */
        position: relative; /* Positioning relative for child elements */
        scroll-behavior: smooth; /* Enables smooth scrolling when using JavaScript */
        transition: ease-in-out; /* Smooth transition for transform property */
        overflow-x: auto; /* Enable horizontal scrolling */
        scroll-snap-type: x mandatory;
        cursor: grab;
    }
    
    .container-carousel::-webkit-scrollbar {
        display: none;
    }
    
    .container-carousel:active {
        cursor: grabbing; /* Change cursor when dragging */
        transition: 0.1s ease-in-out;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
        opacity: 1;      /* Visible by default */
    }
    
    .menu-front {
        display: flex;
        flex-direction: row; /* Stack content vertically */
        position: relative;
        scroll-snap-align: start;
        gap: 8px;
        transition: 0.5s ease-in-out;
    }
    
    .wrapper-container {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: 0.5s ease-in-out;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    
    .menu-under {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 12px;
        position: relative;
    }
    
    .content-container-menu-under {
        width: 280px;
        height: auto;
    }
    
    .wrapper-container-under {
        width: 323px;
        height: 323px;
    }
    
    .over-block-text-h2 {
        font-size: 24px;
        line-height: normal;
    }
    
    .over-block-text-p {
        margin-top: 10px;
        font-size: 20px;
        margin-bottom: 1px;
    }
    
    .under-block-description {
        margin-top: 170px;
    }
    
    .under-block-description-h3 {
        line-height: normal;
        font-size: 16px;
    }
    
    .caption {
        font-size: 24px;
        margin-top: 15px;
        margin-bottom: 8px;
    }
    
    .under-description {
        font-size: 15px;
        margin-bottom: 0;
    }
    
    .under-block-description-p {
        font-size: 16px;
    }
    
    
    
    
    .web-error-container {
        width: 600px;
        height: 600px;
    }
    
    .web-error-img {
        width: 600px;
        height: 600px;
    }






    .partnership {
        width: 658px;
        margin-top: 30px;
    }

    .partner-container {
        height: 120px;
        width: 120px;
    }

    .partner-container-img {
        width: 70%;
        height: 70%;
    }

    .title-container {
        font-size: 30px;
    }

    .team-section {
        display: contents;
    }

    #special-member-container {
        margin-top: 10px;
    }

    .member-container {
        border-radius: 30px;
    }

    .member-name {
        margin-top: 12px;
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    .member-img-component {
        width: 90px;
        height: 90px;
        border-radius: 21.38px;
        padding: 12px;
    }
    
    .member-img {
        width: 90px;
        height: 90px;
        border-radius: 21.38px;
    }
    
    .member-navigation {
        gap: 5px;
    }
    
    .member-work-description {
        margin-top: 0%;
        width: auto;
        font-size: 14px;
        margin-right: 16px;
    }
}

@media screen and (max-width: 720px) {
    main {
        width: 600px;
    }

    footer {
        width: 600px;
    }
        
    .frame-service {
        margin-top: 4%;
        border-radius: 20px;
    }
    
    .main-content-menu {
        width: 580px;
        margin: auto;
        margin-top: 60px;
    }
    
    .menu-under-container-carousel {
        display: flex;
        overflow: hidden;
        scroll-behavior: smooth; /* Enables smooth scrolling when using JavaScript */
        transition: ease-in-out; /* Smooth transition for transform property */
        position: relative; /* Positioning relative for child elements */
        overflow-x: auto; /* Enable horizontal scrolling */
        scroll-snap-type: x mandatory;
        cursor: grab;
    }
    
    .menu-under-container-carousel::-webkit-scrollbar {
        display: none;
    }
    
    .menu-under-container-carousel:active {
        cursor: grabbing; /* Change cursor when dragging */
        transition: 0.1s ease-in-out;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
        opacity: 1;      /* Visible by default */
    }
    
    .menu-under {
        flex-wrap: nowrap;
        display: flex;
        flex-direction: row; /* Stack content vertically */
        position: relative;
        scroll-snap-align: start;
        gap: 8px;
        transition: 0.5s ease-in-out;
    }
    
    .wrapper-container-under {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: 0.5s ease-in-out;
        display: flex;
        flex-direction: column;
        position: relative;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
        opacity: 1;      /* Visible by default */
    }


    .partnership {
        width: 580px;
        margin-top: 30px;
    }

    .partner-container {
        height: 120px;
        width: 120px;
    }

    .partner-container-img {
        width: 70%;
        height: 70%;
    }

    .title-container {
        font-size: 20px;
    }

    .team-section {
        display: contents;
    }

    #special-member-container {
        margin-top: 10px;
    }

    .member-container {
        border-radius: 30px;
    }

    .member-name {
        margin-top: 12px;
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    .member-img-component {
        width: 90px;
        height: 90px;
        border-radius: 21.38px;
        padding: 12px;
    }
    
    .member-img {
        width: 90px;
        height: 90px;
        border-radius: 21.38px;
    }
    
    .member-navigation {
        gap: 5px;
    }
    
    .member-work-description {
        margin-top: 0%;
        width: auto;
        font-size: 14px;
        margin-right: 16px;
    }
}

@media screen and (max-width: 620px) {
    main {
        width: 500px;
    }
    
    footer {
        width: 500px;
    }
    
    .frame {
        border-radius: 20px;
    }
    
    .frame-service {
        border-radius: 20px;
    }
    
    .main-content-menu {
        width: 480px;
        margin: auto;
        margin-top: 60px;
    }
    
    
    
    
    .web-error-container {
        margin-top: 150px;
        width: 500px;
        height: 500px;
    }
    
    .web-error-img {
        width: 500px;
        height: 500px;
    }






    .partnership {
        width: 480px;
        margin-top: 30px;
    }

    .partner-container {
        height: 120px;
        width: 120px;
    }

    .partner-container-img {
        width: 70%;
        height: 70%;
    }

    .title-container {
        font-size: 20px;
    }

    .team-section {
        display: contents;
    }

    #special-member-container {
        margin-top: 10px;
    }

    .member-container {
        border-radius: 20px;
    }

    .member-name {
        margin-top: 12px;
        font-size: 14px;
        margin-bottom: 10px;
    }
    
    .member-img-component {
        width: 90px;
        height: 90px;
        border-radius: 12px;
        padding: 12px;
    }
    
    .member-img {
        width: 90px;
        height: 90px;
        border-radius: 12px;
    }
    
    .member-navigation {
        gap: 5px;
    }
    
    .member-work-description {
        margin-top: 0%;
        width: auto;
        font-size: 12px;
        margin-right: 16px;
    }
}

@media screen and (max-width: 520px) {
    main {
        width: auto;
    }

    footer {
        width: auto;
    }
    
    .main-content-menu {
        width: 460px;
        margin: auto;
        margin-top: 60px;
    }
    
    
    
    
    .web-error-container {
        width: 400px;
        height: 400px;
    }
    
    .web-error-img {
        width: 400px;
        height: 400px;
    }





    .partnership {
        width: 460px;
        margin-top: 30px;
    }

    .partner-container {
        height: 120px;
        width: 120px;
    }

    .partner-container-img {
        width: 70%;
        height: 70%;
    }

    .title-container {
        font-size: 20px;
    }

    .team-section {
        display: contents;
    }

    #special-member-container {
        margin-top: 10px;
    }

    .member-container {
        border-radius: 20px;
    }

    .member-name {
        margin-top: 12px;
        font-size: 14px;
        margin-bottom: 10px;
    }
    
    .member-img-component {
        width: 90px;
        height: 90px;
        border-radius: 12px;
        padding: 12px;
    }
    
    .member-img {
        width: 90px;
        height: 90px;
        border-radius: 12px;
    }
    
    .member-navigation {
        gap: 5px;
    }
    
    .member-work-description {
        margin-top: 0%;
        width: auto;
        font-size: 12px;
        margin-right: 16px;
    }
}

@media screen and (max-width: 480px) {
    main {
        width: auto;
    }

    footer {
        width: auto;
    }
    
    .main-content-menu {
        width: auto;
    }
    
    .menu-under {
        margin-top: 8px;
    }
    
    .frame-service {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    

    .button-icon {
        margin-top: -3px;
        margin-left: 2px;
    }
    
}

@media screen and (max-width: 375px) {
    
    
    .web-error-container {
        width: 300px;
        height: 300px;
    }
    
    .web-error-img {
        width: 300px;
        height: 300px;
    }
}
